.home-page-header {
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;

	.overlay {
		background: rgba(0, 0, 0, 0.15);
		height: 100%;
	}
}

.home-page-header__top {
	text-align: center;

	.logo{
		max-width: 200px;
		padding: 40px 0 0;
	}

	.title {
		padding: 50px 0 20px;
		font-size: 33px;
		font-weight: 300;
		color: white;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		a {
			color: white;
		}
	}

	.description {
		color: white;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 13px;
		letter-spacing: 0.2em;
	}
}

.home-page-header__bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	background: white;
}

.home-page-header__navigation {
	text-align: center;
	background: white;
	.menu-item-wrapper {
		display: inline-block;
		padding: 20px 15px;
		a {
			color: $color-text-lighter;
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 0.2em;
			transition: all 0.2s;
			&:hover {
				color: $color-text;
			}
		}
	}

	.menu-item-wrapper--dropdown {
		position: relative;
	}
}

.home-page-content {
	padding-top: 4%;
}

@media (max-width: 750px) {
	.home-page-header__bottom {
		display: none;
	}
}

@media (max-width: 600px) {
	.home-page-header {
		height: 70vh;
		background-attachment: initial;
	}
	.home-page-header .wrapper-1000 {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.home-page-header__top {
		.title {
			padding: 0 0 20px;
		}
		.logo{
			padding: 0 0;
		}
	}
	.home-page-header__bottom {
		display: none;
	}
}
